<div class="max-w-[737px] my-3 mx-auto px-5 md:px-0 p-2 border border-gray-200 rounded-lg shadow-sm transition-all dark:bg-gray-900">
    <div class="p-3">
        <p class="text-xl my-2 dark:text-neutral-100">Nice to meet you, I'm Yan Chao. When I'm not coding, you'll find me reading books, tutoring math to college students, advancing my Japanese language skills, and enjoying a game in Battle Brothers. I make it a point to explore diverse interests and occasionally pick up new hobbies.</p>
    </div>
</div>